<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="C:\Users\CRISTOFER ALEX\Documents\inicio seccion\css/seccion.css">
<body>
	<section class="form-login">
		<h5>Formulario Login Licoreria TeoSa </h5>
		<input class="controls" type="text" name="usuario" value=""placeholder="Usuario">
		<input class="controls" type="password" name="Contraseña" value=""placeholder="Contraseña">
		<input class="buttons" type="submit" name="" value="Ingresar">
		<p><a href="#">¿Olvidaste tu Contraseña?</a></p>
	</section>

</body>
</html>